---
import PostLayout from '../../layouts/PostLayout.astro';
---
<PostLayout title="Reviews" description="Tiny house product and builder reviews." showAffiliateDisclosure={true}>
  <h1>Reviews</h1>
  <p>Content for reviews goes here.</p>
</PostLayout>
