---
import PostLayout from '../../layouts/PostLayout.astro';
---
<PostLayout title="Resources" description="Tiny house resources and links.">
  <h1>Resources</h1>
  <p>Content for resources goes here.</p>
</PostLayout>
