---
---
<nav>
  <ul>
    <li><a href="/the_tiny_house_nation/buyers/">Buyers</a></li>
    <li><a href="/the_tiny_house_nation/builders/">Builders</a></li>
    <li><a href="/the_tiny_house_nation/lifestyle/">Lifestyle</a></li>
    <li><a href="/the_tiny_house_nation/reviews/">Reviews</a></li>
    <li><a href="/the_tiny_house_nation/resources/">Resources</a></li>
    <li><a href="/the_tiny_house_nation/guides/">Guides</a></li>
    <li><a href="/the_tiny_house_nation/about/">About</a></li>
    <li><a href="/the_tiny_house_nation/blog/">Blog</a></li>
    <li><a href="/the_tiny_house_nation/recommended/">Recommended</a></li>
    <li><a href="/the_tiny_house_nation/states/">States</a></li>
    <li><a href="/the_tiny_house_nation/affiliate-disclosure/">Affiliate Disclosure</a></li>
  </ul>
</nav>
