---
---
<header>
  <nav>
    <ul>
      <li><a href="/buyers/">Buyers</a></li>
    <li><a href="/builders/">Builders</a></li>
    <li><a href="/lifestyle/">Lifestyle</a></li>
    <li><a href="/reviews/">Reviews</a></li>
    <li><a href="/resources/">Resources</a></li>
    <li><a href="/guides/">Guides</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/recommended/">Recommended</a></li>
    <li><a href="/states/">States</a></li>
    <li><a href="/affiliate-disclosure/">Affiliate Disclosure</a></li>
  </ul>
  </nav>
</header>
