---
import PostLayout from '../../layouts/PostLayout.astro';
---
<PostLayout title="Lifestyle" description="Tiny house lifestyle tips and stories.">
  <h1>Lifestyle</h1>
  <p>Content for lifestyle goes here.</p>
  <section>
    <h2>Helpful Guides</h2>
    <ul>
      <li><a href="/the_tiny_house_nation/guides/best-tiny-house-solar/">Best Tiny House Solar Kits</a></li>
      <li><a href="/the_tiny_house_nation/guides/best-composting-toilets-tiny-house/">Best Composting Toilets for Tiny Houses</a></li>
    </ul>
  </section>
</PostLayout>
