---
import PostLayout from '../../layouts/PostLayout.astro';
---
<PostLayout title="Buyers" description="Tiny house buying guides and tips." showAffiliateDisclosure={true}>
  <h1>Buyers</h1>
  <p>Content for buyers goes here.</p>
  <section>
    <h2>Helpful Guides</h2>
    <ul>
      <li><a href="/guides/best-tiny-house-solar/">Best Tiny House Solar Kits</a></li>
      <li><a href="/guides/best-composting-toilets-tiny-house/">Best Composting Toilets for Tiny Houses</a></li>
      <li><a href="/guides/best-insulation-for-tiny-houses/">Best Insulation for Tiny Houses</a></li>
    </ul>
  </section>
</PostLayout>
