---
import PostLayout from '../../layouts/PostLayout.astro';
---
<PostLayout title="Builders" description="Tiny house builder resources." showAffiliateDisclosure={true}>
  <h1>Builders</h1>
  <p>Content for builders goes here.</p>
  <section>
    <h2>Helpful Guides</h2>
    <ul>
      <li><a href="/guides/best-tiny-house-solar/">Best Tiny House Solar Kits</a></li>
      <li><a href="/guides/best-insulation-for-tiny-houses/">Best Insulation for Tiny Houses</a></li>
    </ul>
  </section>
</PostLayout>
